@font-face {font-family: "Pokemon Hollow"; src: url("//db.onlinewebfonts.com/t/6e5393a64ca23c455e8568d409e82da6.eot"); src: url("//db.onlinewebfonts.com/t/6e5393a64ca23c455e8568d409e82da6.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6e5393a64ca23c455e8568d409e82da6.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6e5393a64ca23c455e8568d409e82da6.woff") format("woff"), url("//db.onlinewebfonts.com/t/6e5393a64ca23c455e8568d409e82da6.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6e5393a64ca23c455e8568d409e82da6.svg#Pokemon Hollow") format("svg"); }
@import url(//db.onlinewebfonts.com/c/6e5393a64ca23c455e8568d409e82da6?family=Pokemon+Hollow);





*{

  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ED1729;
  border-bottom-left-radius : 5px;
  border-bottom-right-radius : 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-bottom:0.5rem;
  text-decoration: none;
}


