<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://unpkg.com/primeflex@^3/primeflex.css">
  <link href="//db.onlinewebfonts.com/c/6e5393a64ca23c455e8568d409e82da6?family=Pokemon+Hollow" rel="stylesheet" type="text/css"/>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<ul>
  <li style="float: none; font-family: 'Pokemon Hollow'; font-size: 1.2rem;"><a routerLink="/pokemon" routerLinkActive="active" ariaCurrentWhenActive="page">Pokédex</a></li>
</ul>
<body>



<router-outlet></router-outlet>
</body>
